<?xml version="1.0" encoding="UTF-8"?>
<suite name="Demo Selenium Grid" parallel="false">
  <test name="Test Grid">
  <parameter name="GridNode" value="http://localhost:5555/wd/hub"></parameter>
    <classes>
      <class name="Training.Selenium.DemoSeleniumGrid"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->